.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination div {
  color: white;
  float: left;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* Style the active/current link */
.pagination div.active {
  background-color: #55a187;
}

/* Add a grey background color on mouse-over */
.pagination div:not(.active) {
  background-color: #1c1b21;
}
