.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  width: 7px;
  height: 7px;
}
.link-to {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 16px;
  font-weight: bold;
  z-index: 0;
  vertical-align: middle;
  line-height: 1.6;
  color: #1c1b21;
  font-size: 18px;
  text-decoration: none;
}
.link-to::before {
  content: "";
  width: 27%;
  height: 100%;
  -webkit-transform: skew(-18deg);
  -ms-transform: skew(-18deg);
  transform: skew(-18deg);
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -11%;
  z-index: -1;
}
.link-to::after {
  content: "";
  background: url(../../constants/slider-white-arrow-dark.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #55a187;
  border-radius: 50%;
  padding: 8px;
  vertical-align: bottom;
  margin-left: 10px;
  background-size: 12px;
}
.topwinner-img {
  -webkit-box-flex: 1;
  flex: 1 0 54%;
  height: 0;
  padding-bottom: 37%;
  background-size: cover;
  position: relative;
  background-position: center center;
  max-width: 54%;
}

.topwinner-img:after {
  content: "";
  position: absolute;
  right: -34%;
  bottom: 0;
  height: 100%;
  width: 45%;
  -webkit-transform: skew(-18deg);
  -ms-transform: skew(-18deg);
  transform: skew(-18deg);
  background: #55a187;
  z-index: 0;
}

.wrapper {
  padding: 0;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.hero-slider-wrapper {
  background-color: #1d1c21;
  position: relative;
  overflow: hidden;
}

.hero-slide-info {
  position: relative;
  overflow: hidden;
  width: 75%;
  height: calc(100vh - 146px - 74px);
  min-height: 360px;
}
.hero-slide-info::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.35)),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.hero-slide-img {
  min-height: 185px;
  height: 100%;
  width: 100%;
  background-position: bottom center !important;
  background-size: cover !important;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.hero-info {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24px 67px 48px;
}
.hero-slide-tag {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Staatliches", cursive;
  background-color: #55a187;
  font-size: 20px;
  display: inline-block;
  padding: 1px 10px 1px 17px;
  position: relative;
  left: auto;
  bottom: auto;
  margin-bottom: 5px;
  z-index: 1;
}
.hero-slide-tag::after {
  content: "";
  width: 15%;
  height: 100%;
  -webkit-transform: skew(-18deg);
  -ms-transform: skew(-18deg);
  transform: skew(-18deg);
  background: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -9%;
  z-index: -1;
}
.hero-slide-product-title {
  text-shadow: 1px 1px 25px rgb(0 0 0 / 80%);
  font-size: 45px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: -2px;
}
.hero-slide-price {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 32px;
  display: inline-block;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
}
.hero-slide-btn-link {
  font-size: 14px;
  text-shadow: 1px 1px 25px rgb(0 0 0 / 80%);
  display: flex;
  align-items: center;
}
.product-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.product-stats.hero-slide-product-stats {
  padding: 16px 64px;
  display: flex;
  width: 55%;
  position: relative;
  background-color: #fff;
}
.hero-slide-product-stats.product-stats::after {
  content: "";
  width: 15%;
  height: 100%;
  -webkit-transform: skew(-18deg);
  -ms-transform: skew(-18deg);
  transform: skew(-18deg);
  background: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2%;
  z-index: -1;
  border-right: 3px solid #55a187;
}
.stat-icon {
  opacity: 0.3;
  width: 40px;
  height: 40px;
  background-size: cover !important;
}
.stat-inner {
  text-align: left;
  padding-left: 10px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.stat-info {
  color: #808080;
  font-size: 14px;
}
.stat-value {
  color: #808080;
  font-size: 20px;
  font-weight: bold;
}
.stat-bhp.stat-icon {
  background: url("../../constants/free-icon-engine-1870830.svg");
}

.stat-bhp-white {
  background: url("../../constants/motor_white.svg");
  background-size: cover !important;
}
.stat-0-60-white {
  background: url("../../constants/0-60_white.svg");
  background-size: cover !important;
}
.stat-miles-white {
  background: url("../../constants/trip_white.svg");
  background-size: cover !important;
}
.stat-oil-white {
  background: url("../../constants/drop_white.svg");
  background-size: cover !important;
}
.stat-year-white {
  background: url("../../constants/calendar_white.svg");
  background-size: cover !important;
}
.stat-0-60.stat-icon {
  background: url("../../constants/free-icon-speedometer-1870856.svg");
}
.stat-miles.stat-icon {
  background: url("../../constants/distance.svg");
}
.stat-year.stat-icon {
  background: url("../../constants/calendar.svg");
}
.product-stats .product-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  border-right: 1px solid rgba(255, 255, 255, 0.18);
}

.hero-slide-product-stats.product-stats .product-stat {
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.hero-slide-product-stats.product-stats .product-stat:first-child {
  padding: 0 24px;
}
.product-stats .product-stat:last-child {
  padding-right: 0;
  border-right: none;
}

.hero-slider-controls {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-slider-corner {
  display: none;
}
@media (min-width: 768px) {
  .hero-slider-controls {
    min-height: 73px;
  }
  .hero-slider-arrows {
    padding-right: 72px;
  }
}
@media (min-width: 992px) {
  .hero-slider-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #1c1b21;
    width: 32%;
  }
  .hero-slider-corner {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 0;
    bottom: 0;
    width: 3%;
    background-color: #1c1b21;
    z-index: 4;
    min-width: 55px;
  }
  .hero-slider-corner::before {
    content: "";
    width: 1000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -175%;
    background-color: #1c1b21;
    -webkit-transform: skew(-18deg);
    -ms-transform: skew(-18deg);
    transform: skew(-18deg);
    border-left: 8px solid #55a187;
    z-index: -1;
  }
}
@media (min-width: 1171px) {
  .hero-slider-controls {
    width: 43%;
  }
  .hero-slider-corner {
    width: 25%;
    min-width: 324px;
    padding-right: 20px;
  }
}
@media (min-width: 1055px) {
  .hero-slider-corner:before {
    left: -175%;
  }
}
@media (min-width: 1200px) {
  .hero-slider-corner:before {
    left: -30%;
  }
  .hero-slider-corner h1 {
    display: block !important;
  }
  .wrapper h1 {
    font-size: 2.125rem;
    margin-bottom: 1.875rem;
  }
}
.hero-slider-corner h1 {
  color: white;
  font-size: 59px;
  line-height: 1;
  display: none;
  text-transform: uppercase;
  margin-left: -65px;
}
.BrainhubCarousel__dots {
  position: absolute !important;
  bottom: -25px !important;
  list-style: none !important;
  display: block !important;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  position: relative !important;
  bottom: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  /* padding-left: 60px !important; */
}
.BrainhubCarousel__dots .BrainhubCarousel__dot {
  border: 0 !important;
  background: transparent !important;
  display: block !important;
  height: 20px !important;
  width: 30px !important;
  outline: none !important;
  line-height: 0px !important;
  font-size: 0px !important;
  color: transparent !important;
  padding: 5px !important;
  cursor: pointer !important;
  height: 2px !important;
  padding: 0 !important;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot::before {
  color: transparent !important;
  background-color: white !important;
  height: 2px !important;
  width: 20px !important;
}
.hero-slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev {
  left: -25px;
}
.hero-slider-arrows .slick-arrow {
  border: 2px solid #55a187;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: static;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  display: block;
  text-align: center;
}
.hero-slider-arrows .slick-arrow,
.item-arrow {
  margin-left: 15px;
}
.hero-slider-arrows .slick-arrow.slick-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-next {
  right: -25px;
}
.arrow-svg {
  background: url(../../constants/slider-white-arrow-dark.svg);
  background-size: cover !important;
  width: 12px;
  height: 12px;
}
.competition_arrows {
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #55a187;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.prev_arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
