.MuiBadge-badge {
  height: 22px !important;
  border: 2px solid black;
  transform: scale(1) translate(40%, -46%);
}
.MuiBadge-colorError {
  background-color: #55a187;
}
.MuiBadge-badge {
  border-color: white;
}
.body-page-how-it-works {
  background-image: url(./constants/background.png);
  background-position: center right -40%;
  background-size: 60%;
  background-repeat: no-repeat;
  padding: 0 0 110px 0;
}
.CustomInput-input-47:focus {
  outline: 0 !important;
}
.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.MuiPaper-elevation24 {
  box-shadow: 0px 10px 7px 0px rgb(0 0 0 / 8%) !important;
}
.MuiTypography-h6 {
  font-size: 28px !important;
  font-weight: 700 !important;
  padding-left: 15px;
}
.MuiDialogTitle-root {
  border-bottom: 1px solid gainsboro;
}
.MuiTextField-root:focus {
  outline: 0 !important;
}
blink,
.blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
  67% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  67% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  67% {
    opacity: 0;
  }
}
@keyframes blink {
  67% {
    opacity: 0;
  }
}
.progress-span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 13px;
  padding-top: 8px;
  font-size: 15px;
  bottom: 125%;
  position: absolute;
  bottom: 8px;
  font-weight: 900 !important;
}
.progress-span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: inherit;
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  bottom: -2px;
  z-index: -1;
}
.MuiNativeSelect-select.MuiNativeSelect-select {
  border-radius: 15px 0 0 15px;
}
.MuiNativeSelect-select.MuiNativeSelect-select:focus {
  border-radius: 15px 0 0 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
